<header th:fragment="top" xmlns:th="http://www.thymeleaf.org">

    <div id="fh5co-features" >

        <div class="flex-element-center">
            <h1>Welcome to my portfolio!</h1>
        </div>
        <nav class="nav flex-row">
            <img class="img-lauburu" src="/img/lauburu01.jpg" alt="lauburu image" width="75" />
            <ul  class="nav flex-row">
                <li><a class="a-header-admin" href="/menu">Administration</a></li>
                <li><a class="a-header-admin" href="/portfolio" target="_blank">Portfolio</a></li>
                <li><a class="a-header-admin" href="/download/emmanuelleLarzabal082020.pdf" target="_blank">Download CV</a></li>
                <li><a class="a-header-admin" href="/login">Login</a></li>
            </ul>
        </nav>

    </div>

</header>