<header th:fragment="top" xmlns:th="http://www.thymeleaf.org">

    <div id="fh5co-features" >

        <div class="flex-element-center">
            <h1>Welcome to my portfolio!</h1>
        </div>
        <div class="flex-row">
            <img class="img-lauburu" src="/img/lauburu01.jpg" alt="lauburu image" width="75" />
            <ul class="nav flex-row">
                <li><a href="/index">Home</a></li>
                <li><a href="/portfolio" target="_blank">Portfolio</a></li>
                <li><a href="/download/emmanuelleLarzabal082020.pdf" target="_blank">Download CV</a></li>
            </ul>
        </div>

    </div>

</header>