<header th:fragment="top" xmlns:th="https://www.thymeleaf.org">

    <div id="fh5co-features" class="grid-container-header">

            <figure>
                <img src="/img/lauburu01.jpg" alt="lauburu image" title="logo of my portfolio" width="75px"/>
            </figure>

            <h1>Welcome to my portfolio!</h1>

            <nav>
                <ul>
                    <li class="menu-list-element menu-li"><label><a href="/menu"><span>Administration</span></a></label></li>
                    <li class="menu-list-element menu-li"><label><a href="/portfolio" target="_blank"><span>Portfolio</span></a></label></li>
                    <li class="menu-list-element menu-li"><label><a href="/download/CV_Emmanuelle_LARZABAL.pdf" target="_blank"><span>Download CV</span></a></label></li>
                    <li class="menu-list-element menu-li"><label><a href="/login"><span>Log in</span></a></label></li>
                    <li class="menu-list-element menu-li"><label><a href="/logout"><span>Log out</span></a></label></li>
                </ul>
            </nav>

    </div>

</header>