<div th:fragment="portfolio-skill" xmlns:th="http://www.thymeleaf.org">

    <div id="fh5co-features" class="animate-box">
        <div class="container">
            <div class="services-padding">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Mes compétences</h2>
                    </div>
                </div>

                <div class="skill-grid-container">
                    <div th:each="skill : ${skills}" >
                        <div class="col-md-4 text-center">
                            <div class="feature-left">
                                <span class="icon"> <i th:class="${skill.iconClass}" class="icon-paintbrush"></i> </span>
                                <div>
                                    <h3 th:text="${skill.name}">Name of skill</h3>
                                    <p th:utext="${skill.description}">Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>