<div th:fragment="portfolio-language-tool" xmlns:th="http://www.thymeleaf.org">

    <div id="fh5co-skills" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Langages, outils & librairies </h2>
                </div>
            </div>

            <div class="grid-container">
                <div th:each="language : ${languages}" >
                    <div>
                        <div> <a href="#"> <img th:src="${language.getLogoPath()}" th:title="${language.getName()}" th:alt="${language.getName()}" src="" alt="" width="75" height="75" /> </a> </div>
                        <div> <label th:text="${language.getName()}"></label> </div>
                    </div>
                </div>

                <div th:each="tool : ${tools}" >
                    <div>
                        <div> <a href="#"> <img th:src="${tool.getLogoPath()}" th:title="${tool.getName()}" th:alt="${tool.getName()}" src="" alt="" width="75" height="75" /> </a> </div>
                        <div> <label th:text="${tool.getName()}"></label> </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
