<div th:fragment="portfolio-project" xmlns:th="http://www.thymeleaf.org">

    <div id="fh5co-work" class="fh5co-bg-dark">
        <div class="container">

            <div class="flex-projects ">
                <div th:each="project : ${projects}" >
                    <div class="flex-element-projects ">
                        <a th:href="|/download/${project.getDocument()}|" href="" class="work" th:style="|background-image: url(${project.getLogoPath()}); |" target="_blank">
                            <div class="desc">
                                <h3 th:text="${project.name}">Project Name</h3>
                                <span th:utext="${project.description}">Illustration</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>