<div th:fragment="portfolio-about" xmlns:th="https://www.thymeleaf.org">

    <div id="fh5co-about" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>À propos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <address>
                        <div th:if="${contact != null}">
                            <ul class="info">
                                <li><span class="first-block">Nom :</span>
                                    <span class="second-block" th:text="|${contact.firstName} ${contact.lastName}|">Louie Jie Mahusay</span>
                                </li>
                                <li><span class="first-block">Téléphone :</span>
                                    <a title="Appeler le numéro de téléphone mobile" th:href="|tel:${contact.getAddress().getPhoneWithoutSpace()}|">
                                        <span class="apropos-block" th:text="${contact.getAddress().getPhone()}">+ 1235 2355 98</span>
                                    </a>
                                </li>
                                <li><span class="first-block">Email :</span>
                                    <a title="Envoyer un email (nouvelle page)" th:href="|mailto:${contact.email}|" target="_blank">
                                        <span class="apropos-block" th:utext="${contact.email}">info@yoursite.com</span>
                                    </a>
                                </li>
                                <!-- <li><span class="first-block">Website:</span><span class="second-block">www.yoursite.com</span></li> -->
                                <!--<li><span class="first-block">Adresse :</span><span class="second-block" th:utext="|${contact.getAddress().getLine1()} &lt;br/&gt;
                                    ${contact.getAddress().getLine2()} &lt;br/&gt;
                                    ${contact.getAddress().getZipCode()} ${contact.getAddress().getCity()}|">198 West 21th Street, Suite 721 New York NY 10016</span></li>-->
                            </ul>
                        </div>
                    </address>
                </div>
                <div class="col-md-7">
                    <h2>Bienvenue sur mon Portfolio</h2>
                    <div th:if="${contact != null}">
                        <p th:utext="${contact.description}"> </p>
                    </div>
                    <div>
                        <ul class="fh5co-social-icons">
                            <!-- <li><a href="#"><i class="icon-twitter2"></i></a></li> -->
                            <!-- <li><a href="#"><i class="icon-facebook3"></i></a></li>  -->
                            <li>
                                <a href="#" th:href="${contact.linkedInLink}" target="_blank" title="Aller sur le profil LinkedIn (nouvelle page)">
                                    <i class="icon-linkedin2" ></i>
                                    <span class="screen-reader-text">LinkedIn link</span>
                                </a>
                            </li>
                            <!-- <li><a href="#"><i class="icon-dribbble2"></i></a></li>  -->
                            <li>
                                <a href="#" th:href="${contact.githubLink}" target="_blank" title="Aller sur le profil GitHub (nouvelle page)">
                                    <i class="icon-github2" ></i>
                                    <span class="screen-reader-text">Github link</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>