<div th:fragment="portfolio-contact" xmlns:th="https://www.thymeleaf.org">

    <div class="row animate-box">



        <div class="contact-grid-container">

            <div class="contact-grid-item-marge-top"></div>
            <div class="contact-grid-item-marge-left"></div>
            <div class="contact-grid-item-marge-right"></div>

            <div class="col-md-8 fh5co-heading contact-grid-item-title">
                <h2 id="h2-contact">Contact</h2>
            </div>

            <div class="contact-grid-item-image">
                <img src="/img/SJDL_port.jpg" alt="" />
            </div>

            <div class="contact-grid-item-form">
                <form action="#" method="post" target="_blank" rel="noreferrer noopener" th:data-parameter="${contact.email}" onsubmit="sendMail(this.getAttribute('data-parameter')); return false;" enctype="text/plain">
                    <fieldset>
                        <legend hidden></legend>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Laissez-moi votre message. Je vous répondrai dans les deux jours ouvrés. Les champs précédés d'un * sont obligatoires.</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label for="firstName" hidden></label>
                                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Votre prénom&ast;" required >
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label for="lastName" hidden></label>
                                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Votre nom&ast;" required >
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="email" hidden></label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Votre adresse mail&ast;" required >
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="subject" hidden></label>
                                <input type="text" id="subject" name="subject" class="form-control" placeholder="Votre sujet du message" list="subject-list">
                                <datalist id="subject-list">
                                    <option value="Demande d'informations">Demande d'informations</option>
                                    <option value="Demande de contact">Demande de contact</option>
                                    <option value="Retour(s) sur le site">Retour(s) sur le site</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="message" hidden></label>
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Votre message&ast;" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Envoyer le message" class="btn btn-primary" title="Ouvrir votre boite mail (nouvelle page)">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="contact-grid-item-marge-bottom"></div>
        </div>

    </div>
</div>