<div th:fragment="portfolio-project" xmlns:th="http://www.thymeleaf.org">

    <div id="fh5co-work" class="fh5co-bg-dark">
        <div class="container">
            <section>

                <div class="cards">
                    <div class="card" th:each="project : ${projects}">
                        <div>

                            <label for="document" hidden="hidden">document:</label>
                            <a id="document" href="" class="work" target="_blank" title="Download project's document"
                               th:href="|/download/${project.getDocument()}|"
                               th:style="|background-image: url(${project.getLogoPath()}); |" >
                            </a>

                            <label for="github" hidden="hidden">github:</label>
                            <a id="github" href="" class="work card-github" target="_blank" title="Go to Github project"
                               th:href="${project.getGithub()}" >
                                <div class="card-content">
                                    <h3 th:text="${project.name}">Project Name</h3>
                                    <p th:utext="${project.description}">Description</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>


</div>