<div th:fragment="portfolio-experience-formation" xmlns:th="https://www.thymeleaf.org">

    <div id="fh5co-resume" class="fh5co-bg-color">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>CV</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline">
                        <li class="timeline-heading text-center animate-box">
                            <div><h3>Expérience professionnelle</h3></div>
                        </li>

                        <li th:each="experience,iter : ${experiences}" th:class="${iter.odd}? 'timeline-inverted animate-box ul-align-left' : 'animate-box timeline-unverted ul-align-right' ">
                            <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title" th:text="${experience.name}">Experience</h3>
                                    <span class="company" th:if="${#dates.year(experience.dateBegin)} == ${#dates.year(experience.dateEnd)}" th:text="|${experience.society} * ${#dates.year(experience.dateBegin)} |">School - 2007 - 2009</span>
                                    <span class="company" th:unless="${#dates.year(experience.dateBegin)} == ${#dates.year(experience.dateEnd)}" th:text="|${experience.society} * ${#dates.year(experience.dateBegin)} - ${#dates.year(experience.dateEnd)}|">School - 2007 - 2009</span>
                                </div>
                                <div class="timeline-body">
                                    <p th:utext="${experience.description}">description</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-heading text-center animate-box">
                            <div><h3 id="h3-formation">Formation</h3></div>
                        </li>

                        <li th:each="formation,iter : ${formations}" th:class="${iter.odd}? 'timeline-inverted animate-box' : 'animate-box timeline-unverted' ">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title" th:text="${formation.name}">Formation</h3>
                                    <span class="company" th:if="${#dates.year(formation.dateBegin)} == ${#dates.year(formation.dateEnd)}" th:text="|${formation.schoolName} - ${#dates.year(formation.dateBegin)} |">School - 2007 - 2009</span>
                                    <span class="company" th:unless="${#dates.year(formation.dateBegin)} == ${#dates.year(formation.dateEnd)}" th:text="|${formation.schoolName} - ${#dates.year(formation.dateBegin)} - ${#dates.year(formation.dateEnd)}|">School - 2007 - 2009</span>
                                </div>
                                <div class="timeline-body">
                                    <p th:utext="${formation.description}">description</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>