/* Style pour la navigation à un seul niveau : header de la partie administration */

.menu-li{
    background-color: #101010;
    border: 1px solid #FF9000;
    text-align: center;
}

.menu-li:hover {
    background-color: #f7e1b5;;
}

.menu-li:visited {
    background-color: #761c19;
}

.grid-container-header{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: auto 1fr ;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "lauburu welcome "
        "menu    menu ";
}

.grid-container-header figure{
    grid-area: lauburu;
}

.grid-container-header h1{
    grid-area: welcome;
    text-align: left;
    padding: 40px 0;
}

.grid-container-header nav{
    grid-area: menu;
}

.grid-container-header figure img{
    border : 0.08em solid #666666;
    margin: 2rem;
}

.grid-item-header-ul{
    display: grid;
    width: 75%;
    list-style-type: none;
}

@media screen and (min-width: 40em){
    .grid-item-header-ul{
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 70em) {
    .grid-item-header-ul{
        grid-template-columns: repeat(5 , 1fr);
        grid-template-rows: 1fr;
    }
}