/* portfolio-contact.css */

#h2-contact{
    margin-top: 70px;
    text-align: center;
}

.contact-grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
            " marge-top marge-top marge-top"
            " marge-left title marge-right"
            " marge-left photo marge-right"
            " marge-left form  marge-right";
            " marge-bottom marge-bottom marge-bottom";
    margin-bottom: 70px;
}

.contact-grid-item-title{
    grid-area: title;
    justify-self: center;
}

.contact-grid-item-marge-left{
    grid-area: marge-left;
}

.contact-grid-item-marge-right{
    grid-area: marge-right;
}

.contact-grid-item-marge-top{
    grid-area: marge-top;
}

.contact-grid-item-marge-bottom{
    grid-area: marge-bottom;
}

.contact-grid-item-image{
    grid-area: photo;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-grid-item-image img{
    flex : 1 0 250px;
}
.contact-grid-item-form{
    grid-area: form;
}

@media screen and (min-width: 1024px) {
    .contact-grid-container{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 150px 1fr 2fr 150px;
        grid-template-areas:
            " marge-top marge-top marge-top marge-top"
            " marge-left title title marge-right"
            " marge-left photo form marge-right"
            " marge-bottom marge-bottom marge-bottom marge-bottom";
    }
}