/* portfolio-language-tool.css */

/*
Images animated
 */


#content-galerie{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom:200px;
}

img{
    border:none;
}

div.galerie li{
    float: left;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    list-style: none;
}

div.galerie div a img{
    float: left;
}

.grid-container div a:hover img{
    -moz-transform: scale(1.2) rotate(-7deg);
    -webkit-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);

    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -o-transform-origin: bottom left;

    -moz-box-shadow: 4px 4px 10px #777;
    -webkit-box-shadow: 4px 4px 10px #777;
    -o-box-shadow: 4px 4px 10px #777;
}

.grid-container div{
    align-self: center;
    text-align: center;
}

@media screen and (min-width: 40em){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-gap: 2em;
    }
}

@media screen and (min-width: 70em) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        grid-gap: 2em;
    }
}