/*
    portfolio.ss
 */

table {
    border-collapse: collapse;
}

th {
    /*background-color: #4CAF50;*/
    background-color: #2784d2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

.flottant {
    float: left;
    padding-right: 2em;
}

input:focus {
    background-color: aliceblue;
}

/*
 links
 */

a:hover {
    color : #2784d2;
}

a:visited {
    color : #666666;
}