/*
    portfolio.ss
 */

input:focus {
    background-color: aliceblue;
}

.header {
    height: 170px;
}

.h-orange {
 color : #FF9000;
}

div img {
    margin: 5px;
}

/*
 flexbox
 */

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}

.flex-langages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-element-langages {
    align-self: center;
    margin: auto;
    text-align: center;
}

.flex-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-element-projects {
    align-self: center;
    margin: 4px;
    width: auto;
}

.ul-align-right {
    text-align: right;
    list-style-position: inside;
}

.ul-align-left {
    text-align: left;
   /* list-style-position: inside;*/
}

/*
 links
 */

a:hover {
    color : #2784d2;
}

a:visited {
    color : #666666;
}