/* portfolio-contact.css */

#h2-contact{
    margin-top: 70px;
}

.contact-grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
            "margetop photo margebottom"
            "margetop form  margebottom";
    margin-bottom: 70px;
}

.contact-grid-item-marge-top{
    grid-area: margetop;
}

.contact-grid-item-image{
    grid-area: photo;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-grid-item-image img{
    flex : 1 0 250px;
}
.contact-grid-item-form{
    grid-area: form;
}

.contact-grid-item-marge-bottom{
    grid-area: margebottom;
}

@media screen and (min-width: 1024px) {
    .contact-grid-container{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 150px 1fr 2fr 150px;
        grid-template-areas:
        "margetop photo form margebottom";
    }
}