table {
    border-collapse: collapse;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

