/* portfolio-header.css */

.screen-reader-text{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

div.profile-thumb[style]{
    /*border: 1px solid #4d4d4d;*/
    transition: border 0.2s, transform 0.2s 0.2s;
}

div.profile-thumb[style]:hover {
    transform: scale(1.1);
    border: 3px outset #4d4d4d;

    transition: transform 0.2s,  border 0.2s 0.2s;
}