/* portfolio-language-tool.css */

/*
Images animated
 */

img{
    border:none;
}

.grid-container div img:hover{
    -moz-transform: scale(1.2) rotate(-7deg);
    -webkit-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);

    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -o-transform-origin: bottom left;

    -moz-box-shadow: 4px 4px 10px #777;
    -webkit-box-shadow: 4px 4px 10px #777;
    -o-box-shadow: 4px 4px 10px #777;
}

.grid-container div{
    align-self: center;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill,180px);
}

