
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    display: flex;
    justify-content: space-between;

    margin-top: 1em;
}

.card div:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 100%);
}

.card-content{
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    /*font-size: 16px;*/
    font-size: 80%;
    line-height: 1.7;
    background: #fff;

    display: flex;
}

.card-content div{
    color: #4d4d4d;
}

#github {
    padding: 0.5em;
}

@media screen and (min-width: 30em){
    .card{
        flex: 1 0 100%; /* 1 project in a line */
    }
}

@media screen and (min-width: 70em) {
    .card{
        flex: 0 1 calc(50% - 0.5em); /* 2 projects in a line */
    }
}