<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Portfolio/Contact list</title>
</head>

<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
    }
</style>

<body>

    <header>
    </header>

    <section>
        <h3>Contact</h3>
        <!-- <a href="/contact">Add a new contact !</a> -->
        <br><br>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Github link</th>
                <th>LinkedIn link</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.getId()}">id</td>
                <td th:text="${contact.firstName}">firstName</td>
                <td th:text="${contact.lastName}">lastName</td>
                <td th:text="${contact.githubLink}">Github link </td>
                <td th:text="${contact.githubLink}">
                    <a th:href="${contact.githubLink}" href="github link" />
                </td>
                <td th:text="${contact.linkedInLink}">linkedInLink </td>

                <td><a th:href="@{/contact(id=${contact.getId()})}">Edit</a></td>
                <!--- <td><a th:href="@{/contact/delete(id=${contact.id})}">Remove</a></td> -->
            </tr>
            </tbody>
        </table>
        <br>
        <p>
            <a href="/index">Return to the index</a>
        </p>
    </section>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>