<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>

<h3 th:text="${contact.id} ? 'Edit contact' : 'Create contact'">Contact</h3>

<form method="post" th:action="@{/contact}" th:object="${contact}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="contact-name">Name :</label>
    <input id="contact-name" name="firstName" placeholder="firstName" required th:field="*{firstName}" type="text">
    <br><br>
    <label for="school-lastName">Last name :</label>
    <input id="school-lastName" name="lastName" placeholder="lastName" required th:field="*{lastName}" type="text">
    <br><br>
    <label for="school-birthDate">Birthdate :</label>
    <input id="school-birthDate" name="birthDate" placeholder="birthDate" required th:field="*{birthDate}" type="date">
    <br><br>
    <label for="school-githubLink">Github link :</label>
    <input id="school-githubLink" name="githubLink" placeholder="githubLink" required th:field="*{githubLink}" type="text">
    <br><br>
    <label for="school-linkedInLink">LinkedIn link :</label>
    <input id="school-linkedInLink" name="linkedInLink" placeholder="linkedInLink" required th:field="*{linkedInLink}" type="text">
    <br><br>
    <input type="submit" value="Send">
</form>

<br>
<a href="/contacts">Return to the list</a>
</body>
</html>