<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Contact list</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio admin - contacts list">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="http://www.emmanuelle-larzabal.com/contacts" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange">Contact</h3>

            <div th:if="${contacts.isEmpty()}">
                <a href="/admin/contact">Add a new contact !</a>
            </div>

            <br><br>
            <table class="table">
                <caption>List of contacts</caption>
                <thead>
                    <tr>
                        <th>Uuid</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Github link</th>
                        <th>LinkedIn link</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.uuid}">uuid</td>
                        <td th:text="${contact.firstName}">firstName</td>
                        <td th:text="${contact.lastName}">lastName</td>
                        <td th:text="${contact.githubLink}">Github link </td>
                        <td th:text="${contact.linkedInLink}">linkedInLink </td>

                        <td><a th:href="@{/admin/contact(uuid=${contact.uuid})}">Edit</a></td>
                        <td><a th:href="@{/admin/contact/delete(uuid=${contact.uuid})}">Remove</a></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <a href="/menu">Return to the menu</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>