<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Contact</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange" th:text="${contact.uuid} ? 'Edit contact' : 'Create contact'">Contact</h3>

            <div id="fh5co-consult">
                <div class="choose animate-box">

                    <form class="pure-form pure-form-aligned" method="post" th:action="@{/contact}" th:object="${contact}">
                        <input name="uuid" th:field="*{uuid}" type="hidden">

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="contact-name">Firstname :</label>
                                <input id="contact-name" class="form-control" name="firstName" placeholder="firstName" required th:field="*{firstName}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="school-lastName">Lastname :</label>
                                <input id="school-lastName" class="form-control" name="lastName" placeholder="lastName" required th:field="*{lastName}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="school-birthDate">Birthdate :</label>
                                <input id="school-birthDate" class="form-control" name="birthDate" placeholder="birthDate" required th:field="*{birthDate}" type="date">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="school-githubLink">Github link :</label>
                                <input id="school-githubLink" class="form-control" name="githubLink" placeholder="githubLink" required th:field="*{githubLink}" type="url">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="school-linkedInLink">LinkedIn link :</label>
                                <input id="school-linkedInLink" class="form-control" name="linkedInLink" placeholder="linkedInLink" required th:field="*{linkedInLink}" type="url">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="contact-profession">Profession :</label>
                                <input id="contact-profession" class="form-control" name="profession" placeholder="profession" required th:field="*{profession}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="address-line1">Address line 1 :</label>
                                <input id="address-line1" class="form-control" name="address-line1" placeholder="address-line1" required th:field="*{address.line1}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="address-line2">Address line 2 :</label>
                                <input id="address-line2" class="form-control" name="address-line2" placeholder="address-line2" required th:field="*{address.line2}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="address-zipcode">Address zip code :</label>
                                <input id="address-zipcode" class="form-control" name="address-zipcode" placeholder="address-zipcode" required th:field="*{address.zipCode}" type="number">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="address-city">Address city :</label>
                                <input id="address-city" class="form-control" name="address-city" placeholder="address-city" required th:field="*{address.city}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="address-phone">Phone number :</label>
                                <input id="address-phone" class="form-control" name="address-phone" placeholder="address-phone" required th:field="*{address.phone}" type="tel">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="contact-email">Email :</label>
                                <input id="contact-email" class="form-control" name="contact-email" placeholder="contact-email" required th:field="*{email}" type="email">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="contact-description">Presentation :</label>
                                <textarea id="contact-description" class="form-control" name="contact-description" cols="30" rows="10"  placeholder="contact-description" required th:field="*{description}">Your message </textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <input class="btn-primary" type="submit" value="Send">
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div>
                <a href="/menu">Return to the menu</a> <br>
                <a href="/contacts">Return to the contacts list</a>
            </div>

        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <link rel="stylesheet" href="/javascript/portfolio.js">

</body>
</html>