<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find the precious</title>
</head>
<body>
    <header>
        <h1>FindThePrecious.com</h1>
        <nav>
            <ul>
                <li>Fellows</li>
                <li>Contact us</li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <hr>
            <h2 align="center">Dangerous fellowship try to destroy the ring</h2>
            <h3 align="center">Orcs, Goblis, Balrogs, protect your master Sauron!</h3>
        </section>

        <section>
            <hr>
            <h2 s align="center">Fellows wanted dead </h2>
            <h3 align="center">(or alive if you want to eat them later)</h3>
            <br>
            <select name="list" id="list">
                <option value="thewizard">The wizard</option>
                <option value="hobbit#3">Hobbit #3</option>
                <option value="yummy">Yummy Dwarf</option>
            </select>
        <section>
            <hr>
            <form>
                <h3>Contact us</h3>
                <input name="link" type="email" value="&commat;"> <br>
                <input name="home" type="tel" value="&#127968;"> <br>
                <select name="list" id="list">
                    <option value="" selected>I have seen one of them</option>
                    <option value="Orcs">Orcs</option>
                    <option value="Goblis">Goblis</option>
                    <option value="Balrogs">Balrogs</option>
                </select>
                <br>
                <textarea name="message">Your message </textarea> <br>
                <input type="submit" value="Send!">
            </form>
        </section>

    </main>

    <footer>
        <hr>

        <div>
            <ul>
                <li>About us</li>
                <li>Fellows</li>
                <li>Join our army</li>
                <li>FAQ</li>
                <li>Reward conditions</li>
                <li>Legal mentions</li>
            </ul>
        </div>

        <div>
            <h2>Sauron4Ever.com <br>
            Follow him also on twitter
            </h2>
        </div>

    </footer>
</body>
</html>