<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Formation</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<main>
    <section>
        <h3 class="h-orange" th:text="${formation.uuid} ? 'Edit Formation' : 'Create Formation'">Formation</h3>

        <div id="fh5co-consult">
            <div class="choose animate-box">

                <form class="pure-form pure-form-aligned" method="post" th:action="@{/admin/formation}" th:object="${formation}">

                    <div>
                        <input name="uuid" th:field="*{uuid}" type="hidden">
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-name">Name :</label>
                            <input id="formation-name" class="form-control" name="name" placeholder="name" th:field="*{name}"
                                   type="text" maxlength="255" required >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-schoolName">School name :</label>
                            <input id="formation-schoolName" class="form-control" name="schoolName" placeholder="schoolName" th:field="*{schoolName}"
                                   type="text" maxlength="255" required >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-diploma">Diploma :</label>
                            <input id="formation-diploma" class="form-control" name="diploma" placeholder="diploma" th:field="*{diploma}"
                                   type="text" maxlength="1500" required >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-numberYearsAfterBac">Bac + :</label>
                            <input id="formation-numberYearsAfterBac" class="form-control" name="numberYearsAfterBac" placeholder="diploma" required th:field="*{numberYearsAfterBac}" type="number">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-dateBegin">Date start :</label>
                            <input id="formation-dateBegin" class="form-control" name="startdate" required th:field="*{dateBegin}" type="date" placeholder="yyyy-MM-dd">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-dateEnd">Date end :</label>
                            <input id="formation-dateEnd" class="form-control" name="dateEnd" required th:field="*{dateEnd}" type="date" placeholder="yyyy-MM-dd">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="formation-logo">Logo :</label>
                            <input id="formation-logo" class="form-control" name="logo" placeholder="logo" th:field="*{logo}"
                                   type="text" maxlength="255" >
                        </div>
                        <img th:if="${formation.getLogo() != null}" th:src="${formation.getLogoPath()}" th:title="${formation.getLogoPath()}" th:alt="${formation.getName()}" src="" alt="" width="75" />
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 ">
                            <label for="formation-description">Description :</label>
                            <textarea id="formation-description" class="form-control" name="description" cols="30" rows="10"
                                      placeholder="description" required th:field="*{description}"
                                      maxlength="3000" onkeyup="countChars(this);">
                                Your description
                            </textarea>
                            <div id="charNumber"></div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <input class="btn-primary" type="submit" value="Send">
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a href="/menu">Return to the menu</a> <br>
            <a href="/admin/formations">Return to the formations list</a>
        </div>

    </section>
</main>

<footer th:replace="fragments/footer.html :: bottom">
</footer>

<script src="/javascript/portfolio.js"></script>
</body>
</html>