<!DOCTYPE html>

<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/School List</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio admin - formations list">
    <meta name="Referrer-Policy" content="no-referrer">

    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="http://www.emmanuelle-larzabal.com/formations" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange">Formation</h3>

            <a href="/admin/formation">Add a new formation !</a>

            <br><br>
            <table class="table">
                <caption>List of formations</caption>
                <thead>
                <tr>
                    <th>Uuid</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>School</th>
                    <th>Diploma</th>
                    <th>BAC +</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="formation : ${formations}">
                    <td th:text="${formation.uuid}">id</td>
                    <td th:text="${formation.name}">name</td>
                    <td th:text="${formation.description}">description</td>
                    <td th:text="${formation.schoolName}">schoolName</td>
                    <td th:text="${formation.diploma}">diploma</td>
                    <td th:text="${formation.numberYearsAfterBac}">numberYearsAfterBac</td>
                    <td><a th:href="@{/admin/formation(uuid=${formation.uuid})}">Edit</a></td>
                    <td><a th:href="@{/admin/formation/delete(uuid=${formation.uuid})}">Remove</a></td>
                </tr>
                </tbody>
            </table>

            <div>
                <a href="/menu">Return to the menu</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>