<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/index</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>
    <!--<header th:replace="fragments/header.html :: top">
    </header>-->

    <main>
        <h2>Welcome to my portfolio!</h2>

        <ul>
            <li> Click <a th:href="@{/login}">here</a> to login. </li>
            <li> Click <a th:href="@{/logout}">here</a> to logout. </li>
            <li> Click <a th:href="@{/menu}">here</a> to go to administration. </li>
        </ul>

    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <link rel="stylesheet" href="/javascript/portfolio.js">

</body>
</html>