<!DOCTYPE html>

<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/index</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <meta name="Referrer-Policy" content="no-referrer">

    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="http://www.emmanuelle-larzabal.com/index" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>
    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <ul>
                <li> Click <a th:href="@{/login}">  here</a> to login. </li>
                <li> Click <a th:href="@{/logout}"> here</a> to logout. </li>
                <li> Click <a th:href="@{/menu}">   here</a> to go to administration. </li>
            </ul>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>