<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/index</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
    <header th:replace="fragments/header.html :: top">
    </header>

    <nav>
        <h2>Menu</h2>
        <ul>
            <li> <a href="/contacts">Browse all contacts</a></li>
            <li> <a href="/languages">Browse all languages</a></li>
            <li> <a href="/formations">Browse all formations</a> <br><br></li>
        </ul>
    </nav>

    <main>
        <a href="/download/emmanuelleLarzabal082020.pdf" target="_blank">Download CV</a>
        <!-- <a href="/emmanuelleLarzabal082020.pdf" target="_blank">Download CV</a> -->
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>