<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/School List</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="http://www.emmanuelle-larzabal.com/languages" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange">Language</h3>
            <a href="/admin/language">Add a new language !</a>
            <br><br>
            <table class="table">
                <caption>List of languages</caption>
                <thead>
                    <tr>
                        <th>Uuid</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Level</th>
                        <th>Ordre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="language : ${languages}">
                    <td th:text="${language.uuid}">Uuid</td>
                    <td th:text="${language.name}">Name</td>
                    <td th:text="${language.description}">Description</td>
                    <td th:text="${language.order}">Ordre</td>
                    <td th:text="${language.level}">Level</td>
                    <td><a th:href="@{/admin/language(uuid=${language.uuid})}">Edit</a></td>
                    <td><a th:href="@{/admin/language/delete(uuid=${language.uuid})}">Remove</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Uuid</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Level</th>
                    <th>Ordre</th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>

            <div>
                <a href="/menu">Return to the menu</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>