<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Language</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">
</head>

<body class="body-admin">

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange" th:text="${language.uuid} ? 'Edit Language' : 'Create Language'">Formation</h3>
            <form class="flex-form" method="post" th:action="@{/language}" th:object="${language}">
                <div>
                    <input name="uid" th:field="*{uuid}" type="hidden">
                </div>
                <div class="flex-row">
                    <label for="language-name">Name :</label>
                    <input id="language-name" name="name" placeholder="name" required th:field="*{name}" type="text">
                </div>
                <div class="flex-row">
                    <label for="language-description">Description :</label>
                    <textarea id="language-description" name="description" cols="30" rows="10" placeholder="description" required th:field="*{description}" type="text">Your description</textarea>
                </div>
                <div class="flex-row">
                    <label for="language-level">Level :</label>
                    <input id="language-level" name="level" placeholder="level" required th:field="*{level}" type="text">
                </div>
                <div class="flex-row form-img">
                    <label for="language-logo">Logo :</label>
                    <img th:if="${language.getLogo() != null}" th:src="${language.getLogo()}" th:title="${language.getLogo()}" width="75" height="75" />
                    <input id="language-logo" name="logo" placeholder="logo" th:field="*{logo}" type="file" >
                </div>
                <div class="flex-row">
                    <label for="language-order">Ordre :</label>
                    <input id="language-order" name="order" placeholder="order" th:field="*{order}" type="number" >
                </div>

                <div class="flex-row">
                    <input class="btn-primary" type="submit" value="Send">
                </div>

            </form>

            <div>
                <a href="/index">Return to the index</a> <br>
                <a href="/languages">Return to the languages list</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <link rel="stylesheet" href="/javascript/portfolio.js">

</body>
</html>