<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/School List</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
</head>

<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
    }
</style>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3>Language</h3>
            <a href="/language">Add a new language !</a>
            <br><br>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>level</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="language : ${languages}">
                    <td th:text="${language.getId()}">id</td>
                    <td th:text="${language.name}">name</td>
                    <td th:text="${language.description}">description</td>
                    <td th:text="${language.level}">level</td>
                    <td><a th:href="@{/language(id=${language.getId()})}">Edit</a></td>
                    <td><a th:href="@{/language/delete(id=${language.getId()})}">Remove</a></td>
                </tr>
                </tbody>
            </table>
            <br>
            <p>
                <a href="/index">Return to the index</a>
            </p>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>