<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/login</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<main>

    <section>
        <h2 class="h-orange">Please Log In</h2>

        <div id="fh5co-consult">
            <div class="choose animate-box">

                <div class="alert alert-error" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="alert alert-success" th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form class="pure-form pure-form-aligned" name="f" th:action="@{/login}" method="post" action="/login">

                    <div class="row form-group">
                        <div class="col-md-5 flex-form-div">
                            <label for="aligned-name">Username</label>
                            <input class="form-control" type="text" id="aligned-name" name="username" placeholder="Nom d'utilisateur" value="" autocomplete="off" required />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-5 flex-form-div">
                            <label for="aligned-password">Password</label>
                            <input class="form-control" type="password" id="aligned-password" name="password" placeholder="Mot de passe" autocomplete="off" required />
                        </div>
                    </div>

                    <div class="col-md-5 form-group ul-align-right">
                        <input type="submit" class="btn btn-primary"value="Log in"/>
                    </div>
                </form>
            </div>
        </div>

    </section>


</main>

<footer th:replace="fragments/footer.html :: bottom">
</footer>

</body>
</html>