<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/login</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<main>

    <section>
        <h2 class="h-orange">Log out?</h2>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </section>


</main>

<footer th:replace="fragments/footer.html :: bottom">
</footer>

</body>
</html>