<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/admin</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/icomoon.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>
    <header th:replace="fragments/header.html :: top">
    </header>
    
    <main>
        <div id="fh5co-consult " >

            <div class="choose animate-box flex-row">

                <div class="flex-column">
                    <h2 class="h-orange">Menu</h2>

                    <nav class="nav-advanced" role="navigation">
                        <ul class="nav-advanced-ul">
                            <li>
                                <a href="/admin/contacts"   >
                                    <div class="nav-advanced-icon icon"> <i class="icon-profile-female"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all contacts
                                        <span>Create, update and delete contacts</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/languages"  >
                                    <div class="nav-advanced-icon icon"> <i class="icon-chat"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all languages
                                        <span>Create, update and delete languages</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/formations" >
                                    <div class="nav-advanced-icon icon"> <i class="icon-briefcase"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all formations
                                        <span>Create, update and delete formations</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/experiences">
                                    <div class="nav-advanced-icon icon"> <i class="icon-genius"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all experiences
                                        <span>Create, update and delete experiences</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/projects"   >
                                    <div class="nav-advanced-icon icon"> <i class="icon-toolbox"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all projects
                                        <span>Create, update and delete projects</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/tools"      >
                                    <div class="nav-advanced-icon icon"> <i class="icon-tools"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all tools
                                        <span>Create, update and delete tools</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/skills"     >
                                    <div class="nav-advanced-icon icon"> <i class="icon-puzzle"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all skills
                                        <span>Create, update and delete skills</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/roles"      >
                                    <div class="nav-advanced-icon icon"> <i class="icon-layers"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all roles
                                        <span>Create, update and delete roles</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/users"      >
                                    <div class="nav-advanced-icon icon"> <i class="icon-scope"></i> </div>
                                    <div class="nav-advanced-text btn-toolbar">
                                        Browse all users
                                        <span>Create, update and delete users</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>
        </div>



    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>