<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio/portfolio</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <!-- <meta property="og:title" content=""/>-->
    <!-- <meta property="og:image" content=""/>-->
    <!-- <meta property="og:url" content=""/>-->
    <!-- <meta property="og:site_name" content=""/>-->
    <!-- <meta property="og:description" content=""/>-->
    <!-- <meta name="twitter:title" content="" />-->
    <!-- <meta name="twitter:image" content="" />-->
    <!-- <meta name="twitter:url" content="" />-->
    <!-- <meta name="twitter:card" content="" />-->

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- Modernizr JS -->
    <script src="/vendor/bootstrap/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/vendor/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>

    <main>
        <!-- <id id="page"> -->

            <section th:replace="fragments/portfolio-header.html">
            </section>

            <section th:replace="fragments/portfolio-about.html">
            </section>

            <section th:replace="fragments/portfolio-experience-formation.html">
            </section>

            <section th:replace="fragments/portfolio-skill.html">
            </section>

            <section th:replace="fragments/portfolio-language-tool.html">
            </section>

            <section th:replace="fragments/portfolio-project.html">
            </section>

            <section th:replace="fragments/portfolio-contact.html">
            </section>

            <section th:replace="fragments/portfolio-mapbox.html">
            </section>

            <section class="gototop js-top">
                <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
                <a href="/download/emmanuelleLarzabal082020.pdf" target="_blank" title="Download CV"><i class="icon-">CV</i></a>
            </section>

        <!-- </id>-->
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <script type="text/javascript">
        function sendMail(mailTo) {
            let elms=document.forms[0].elements;
            let mailFrom=elms.email.value;
            let subject=elms.subject.value;
            let body='Message : '+elms.message.value+'\n\r De :'+elms.firstName.value+' '+elms.lastName.value+'\n\r';

            document.forms[0].action='mailto:'+mailTo+'?subject='+subject+'&cc='+mailFrom+'&body='+body+' ';
            document.forms[0].submit();
        }
    </script>

    <!-- jQuery -->
    <script src="/vendor/bootstrap/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/vendor/bootstrap/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/vendor/bootstrap/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/vendor/bootstrap/js/jquery.stellar.min.js"></script>
    <!-- Easy PieChart -->
    <script src="/vendor/bootstrap/js/jquery.easypiechart.min.js"></script>
    <!-- Google Map -->
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="/vendor/bootstrap/js/google_map.js"></script> -->

    <!-- Main -->
    <script src="/vendor/bootstrap/js/main.js"></script>

</body>
</html>
