<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/School List</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio admin - projects list">
    <meta name="Referrer-Policy" content="no-referrer">

    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="http://www.emmanuelle-larzabal.com/projects" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange">Project</h3>

            <a href="/admin/project">Add a new project !</a>

            <br><br>
            <table class="table">
                <caption>List of projects</caption>
                <thead>
                <tr>
                    <th>Uuid</th>
                    <th>Name</th>
                    <th>Github's link</th>
                    <th>Order</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.uuid}">UUID</td>
                    <td th:text="${project.name}">Name</td>
                    <td th:text="${project.github}">Github's link</td>
                    <td th:text="${project.order}">Ordre</td>
                    <td><a th:href="@{/admin/project(uuid=${project.uuid})}">Edit</a></td>
                    <td><a th:href="@{/admin/project/delete(uuid=${project.uuid})}">Remove</a></td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Uuid</th>
                        <th>Name</th>
                        <th>Github's link</th>
                        <th>Order</th>
                        <th></th>
                        <th></th>
                    </tr>
            </table>

            <div>
                <a href="/menu">Return to the menu</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>