<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Roles List</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio admin - roles list">
    <meta name="Referrer-Policy" content="no-referrer">

    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="canonical" href="http://www.emmanuelle-larzabal.com/roles" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange">Roles</h3>
            <a href="/admin/role">Add a new role !</a>
            <br><br>
            <table class="table">
                <caption>List of roles</caption>
                <thead>
                    <tr>
                        <th>Uuid</th>
                        <th>Name</th>
                        <th>Label</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="role : ${roles}">
                        <td th:text="${role.uuid}">Uuid</td>
                        <td th:text="${role.name}">Name</td>
                        <td th:text="${role.description}">Label</td>
                        <td><a th:href="@{/admin/role(uuid=${role.uuid})}">Edit</a></td>
                        <td><a th:href="@{/admin/role/delete(uuid=${role.uuid})}">Remove</a></td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <th>Uuid</th>
                        <th>Name</th>
                        <th>Label</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>

            </table>

            <div>
                <a href="/menu">Return to the menu</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

</body>
</html>