<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Skill</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange" th:text="${skill.uuid} ? 'Edit Skill' : 'Create Skill'">Tool</h3>
            <form class="flex-form" method="post" th:action="@{/skill}" th:object="${skill}">
                <div>
                    <input name="uid" th:field="*{uuid}" type="hidden">
                </div>
                <div class="flex-row">
                    <label for="skill-name">Name :</label>
                    <input id="skill-name" name="name" placeholder="name" required th:field="*{name}" type="text">
                </div>
                <div class="flex-row">
                    <label for="skill-description">Description :</label>
                    <textarea id="skill-description" name="description" cols="30" rows="10" placeholder="description" th:field="*{description}" type="text">Your description</textarea>
                </div>
                <div class="flex-row">
                    <label for="skill-iconClass">Icone class :</label>
                    <input id="skill-iconClass" name="iconClass" placeholder="iconClass" th:field="*{iconClass}" type="text" >
                </div>
                <div class="flex-row ">
                    <label for="skill-order">Ordre :</label>
                    <input id="skill-order" name="order" placeholder="order" th:field="*{order}" type="number" >
                </div>

                <div class="flex-row">
                    <input class="btn-primary" type="submit" value="Send">
                </div>

            </form>

            <div>
                <a href="/index">Return to the index</a> <br>
                <a href="/skills">Return to the skills list</a>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <link rel="stylesheet" href="/javascript/portfolio.js">

</body>
</html>