<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Tool</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange" th:text="${tool.uuid} ? 'Edit Tool' : 'Create Tool'">Tool</h3>
            <form class="flex-form" method="post" th:action="@{/tool}" th:object="${tool}">
                <div>
                    <input name="uid" th:field="*{uuid}" type="hidden">
                </div>
                <div class="flex-row">
                    <label for="tool-name">Name :</label>
                    <input id="tool-name" name="name" placeholder="name" required th:field="*{name}" type="text">
                </div>
                <div class="flex-row">
                    <label for="tool-description">Description :</label>
                    <textarea id="tool-description" name="description" cols="30" rows="10" placeholder="description" th:field="*{description}" type="text">Your description</textarea>
                </div>
                <div class="flex-row form-img">
                    <label for="tool-logo">Logo :</label>
                    <img th:if="${tool.getLogo() != null}" th:src="${tool.getLogo()}" th:title="${tool.getLogo()}" width="75" />
                    <input id="tool-logo" name="logo" placeholder="logo" required th:field="*{logo}" type="file" >
                </div>
                <div class="flex-row">
                    <label for="tool-order">Ordre :</label>
                    <input id="tool-order" name="order" placeholder="order" th:field="*{order}" type="number" >
                </div>

                <div class="flex-row btn-admin">
                    <input class="btn-primary" type="submit" value="Send">
                </div>

            </form>

            <p>
                <a href="/index">Return to the index</a> <br>
                <a href="/tools">Return to the tools list</a>
            </p>
        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <link rel="stylesheet" href="/javascript/portfolio.js">

</body>
</html>