<!DOCTYPE html>

<html lang="fr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/Tool</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio admin - tool">
    <meta name="Referrer-Policy" content="no-referrer">

    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">
    <!--link rel="canonical" href="http://www.emmanuelle-larzabal.com/tool" /-->

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css" type="text/css">

    <!-- css -->
    <link rel="stylesheet" href="/css/portfolio.css" type="text/css">
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<main>
    <section>
        <h3 class="h-orange" th:text="${tool.uuid} ? 'Edit Tool' : 'Create Tool'">Tool</h3>

        <div id="fh5co-consult">
            <div class="choose animate-box">

                <form class="pure-form pure-form-aligned" method="post" th:action="@{/admin/tool}" th:object="${tool}">

                    <div>
                        <input name="uid" th:field="*{uuid}" type="hidden">
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="tool-name">Name :</label>
                            <input id="tool-name" class="form-control" name="name" placeholder="name" th:field="*{name}"
                                   type="text" maxlength="255" required >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="tool-logo">Logo :</label>
                            <input id="tool-logo" class="form-control" name="logo" placeholder="logo" th:field="*{logo}"
                                   type="text" maxlength="255" required >
                        </div>
                        <img th:if="${tool.getLogo() != null}" th:src="${tool.getLogoPath()}" th:title="${tool.getLogoPath()}" th:alt="${tool.getName()}" src="" alt="" width="75" />
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 flex-form-div">
                            <label for="tool-order">Ordre :</label>
                            <input id="tool-order" class="form-control" name="order" placeholder="order" th:field="*{order}" type="number" >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-8 ">
                            <label for="tool-description">Description :</label>
                            <textarea id="tool-description" class="form-control" name="description" cols="30" rows="10"
                                      placeholder="description" required th:field="*{description}"
                                      maxlength="3000" onkeyup="countChars(this);">
                                    Your description
                            </textarea>
                            <div id="charNumber"></div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <input class="btn-primary" type="submit" value="Send">
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a href="/menu">Return to the menu</a> <br>
            <a href="/admin/tools">Return to the tools list</a>
        </div>

    </section>
</main>

<footer th:replace="fragments/footer.html :: bottom">
</footer>

<script src="/javascript/portfolio.js"></script>
</body>
</html>