<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Portfolio/User</title>
    <meta name="author" content="Emmanuelle LARZABAL">
    <meta name="description" content="My portfolio">
    <link href="/img/lauburu01.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>

    <header th:replace="fragments/header.html :: top">
    </header>

    <main>
        <section>
            <h3 class="h-orange" th:text="${user.uuid} ? 'Edit User' : 'Create User'">User</h3>

            <div id="fh5co-consult">
                <div class="choose animate-box">

                    <form class="pure-form pure-form-aligned" method="post" th:action="@{/admin/user}" th:object="${user}">

                        <div>
                            <input name="uuid" th:field="*{uuid}" type="hidden">
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="user-username">Username :</label>
                                <input id="user-username" class="form-control" name="username" placeholder="username" required th:field="*{username}" type="text" >
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="user-password">Password :</label>
                                <input class="checkbox-inline" type="checkbox" onclick="showThePassword()">Show password
                                <input id="user-password" class="form-control" name="password" placeholder="password" required th:field="*{password}" type="password" >
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="user-firstname">Username :</label>
                                <input id="user-firstname" class="form-control" name="firstname" placeholder="firstname" required th:field="*{firstName}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="user-lastname">Username :</label>
                                <input id="user-lastname" class="form-control" name="lastname" placeholder="lastname" required th:field="*{lastName}" type="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8 flex-form-div">
                                <label for="user-email">Username :</label>
                                <input id="user-email" class="form-control" name="email" placeholder="email" required th:field="*{email}" type="email">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <input class="btn-primary" type="submit" value="Send">
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div>
                <a href="/menu">Return to the menu</a> <br>
                <a href="/admin/users">Return to the users list</a>
            </div>

        </section>
    </main>

    <footer th:replace="fragments/footer.html :: bottom">
    </footer>

    <script src="/javascript/portfolio.js"></script>

</body>
</html>